import(methods)
import(BiocGenerics)
import(S4Vectors)
import(IRanges)
import(GenomicRanges)
import(docopt)

importFrom(tools, file_ext, file_path_sans_ext)

exportPattern("(R_)?bedtools_.*")
export(NAGRanges, pair, distmode)
